%header.navbar

%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"} AW Automation Report
    .collapse.navbar-collapse      

      %ul.nav.navbar-nav.navbar-right
        - unless @project.nil?
          %li
            = link_to "Manage Sprints", project_sprints_path(@project)
        = render 'layouts/navigation_links'

